<!-- <app-login></app-login>
<app-registration></app-registration> 
<app-inventory></app-inventory> 
<app-procurement></app-procurement>
<app-planner></app-planner> -->

<div class="app-container">
    <!-- Navigation Bar or Header -->
    <!-- <nav>
     <ul> -->
    <!-- <div class="button-container">
    <button class="button" routerLink="/login">Login</button>
    <button class="button" routerLink="/registration">Registration</button>
    <button class="button" routerLink="/login">Logout</button>
    </div> -->
    <!-- <li><a routerLink="/inventory">Inventory</a></li>
    <li><a routerLink="/procurement">Procurement</a></li>
    <li><a routerLink="/planner">Planner</a></li> -->
    <!-- </ul> -->
    <!-- </nav>  -->
    
    <!-- The router outlet where routed components will be displayed -->
    <router-outlet></router-outlet>
    
    <!-- Footer or other layout elements can go here if needed -->
    </div>